

header{
    text-align: center;
    border: solid rgba(224, 231, 157, 0.836);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 100px;
    color: white;
    color: rgb(255, 136, 0);
    text-align: center;
    background-color: rgba(224, 231, 157, 0.836);
    font-size: x-large;              
}

#A{

    border-radius: 75%;
    padding: 5px;
    width: 100px;
    margin-right: 1200px;
    position : absolute; left : 10px; top : 10px;
    background-color: rgba(48, 80, 4, 0.507);
    
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    
.column {
    text-align: center;
    width: 42%;
}

.column img{
    max-width: 80%;
    margin-left: O !important;
    height: 300px;
    width: 100%;
}


footer{
    text-align: center;
    border: solid rgba(15, 15, 15, 0.089);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 100px;
    color: white;
    text-align: center;
    background-color: black;
    font-size: x-large;  
}

